name: CI

on: # Trigger the pipeline/workflow whenever someone pushes to the main branch
  push:
    branches:
      - main
    paths-ignore: # If anyone updates any of these path don't get triggered
      - 'README.md'
      - 'helm/**'

jobs: # here we will start defining the stages of CI

# First stage is build and Unit Test
  build:
    runs-on: ubuntu-latest # Define the VM/OS where GitHub Actions will use to run the stage

    steps:
      - name: Checkout repository # Checkout the source code of the repo
        uses: actions/checkout@v4

      - name: Set up Go 1.22 # Install Go in it
        uses: actions/setup-go@v2
        with:
          go-version: '1.22' # Specify the Go version to use

      - name: Build the Go application # Build the Go application
        run: go build -o go-web-app

      - name: Run Test # Run unit tests for the Go application
        run: go test ./...

# Second stage is to run code quality checks
  code-quality:
    runs-on: ubuntu-latest

    needs: build # This stage will run only if the build stage is successful

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go 1.22
        uses: actions/setup-go@v2
        with:
          go-version: '1.22'

      - name: Install golangci-lint # Install golangci-lint tool to run code quality checks
        uses: golangci/golangci-lint-action@v6
        with: 
          version: v1.56.2
          skip-cache: true


# Third stage is to create the docker image and push it to Docker Hub
  docker-build-push:
    runs-on: ubuntu-latest
    needs: build # This stage will run only if the build stage is successful

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx # Set up Docker Buildx to build multi-platform Docker images
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub # Login to Docker Hub using secrets stored in GitHub repo
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }} # Secret name is DOCKER_HUB_USERNAME and the secret is your Docker Hub username
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}  # Secret name is DOCKER_HUB_ACCESS_TOKEN and the secret is your Docker Hub access token which you created from the Docker Hub

      - name: Build and Push Docker image # Build and push the Docker image to Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/go-web-app:${{ github.run_id }} # Tag the image with GitHub run ID for uniqueness


# Last stage is to update the Helm Chart values file with the new image tag
  update-helm-chart:
    runs-on: ubuntu-latest
    needs: docker-build-push # This stage will run only if the docker-build-push stage is successful

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }} # Use the TOKEN secret to allow pushing changes back to the repo

      - name: Update Helm Chart values.yaml with new image tag # Update the Helm Chart values.yaml file with the new image tag
        run: |
          sed -i 's/tag: .*/tag: v${{ github.run_id }}/' helm/go-web-app-chart/values.yaml

      - name: Commit and Push changes to Helm Chart # Commit and push the changes to the Helm Chart values.yaml file back to the repo
        run: |
          git config --global user.name 'Eman Hegazy'
          git config --global user.email 'emanheg98@gmail.com'
          git add helm/go-web-app-chart/values.yaml
          git commit -m "Update Helm Chart image tag to v${{ github.run_id }}"
          git push
